/*insert custom css below*/


body {

}

.heading {
  position: fixed;
  left: 0px;
  width: 100%;
}

.heading h1 {
}

.box {
  float: left;
  width: 30%;
  margin: 10px;
  padding: 10px;
}

.box:last-child {
}

.box h2 {
}

.box img {
  width: 100%;

}

.box a.read-more {
}

.footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
}
